@import '../../../styles/variables';

.logo {
    &__container {
        z-index: 3;
        span {
            font-size: 1vw;
            font-weight: 400;
            color: $color-white;
        }
    }
}
